.first {
    color: white;
    background-color: #039;
}

.last {
    border-right: none;
}

.drop {
    position: relative;
}

.mydrop {
    display: none;
    position: absolute;
    width: 7vw;
    text-align: left;
}

.dropbtn {
    position: relative;
    top: 1rem;
}

.drop:hover .mydrop {
    display: flex;
    flex-direction: column;
    text-align: start;
    top: 3rem;
}
