.threePicFrame {
    height: 25%;
    width: 100%;
    margin: 50px auto;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    position: relative;
}

.image {
    width: 25vw;
    height: 25vh;
}

.one {
    background-image: url(imgs/homeless1.jpg);
    background-size: cover;
    width: inherit;
    height: inherit;
}

.one:hover {
    transition-duration: .5s;
    background-color: #d9d9d9;
    background-blend-mode: overlay;
}

.two {
    background-image: url(imgs/homeless2.jpg);
    background-size: cover;
    width: inherit;
    height: inherit;
}

.two:hover {
    transition-duration: .5s;
    background-color: #d9d9d9;
    background-blend-mode: overlay;
}

.three {
    background-image: url(imgs/homeless3.jpg);
    background-size: cover;
    width: inherit;
    height: inherit;
}

.three:hover {
    transition-duration: .5s;
    background-color: #d9d9d9;
    background-blend-mode: overlay;
}

.centerText{
    height: inherit;
    display: flex;
    text-align: center;
    align-items: center;
    color: transparent;
}

.centerText p {
    width: 90%;
}

.centerText:hover {
    transition-duration: .5s;
    color: black;
}
