* {
    box-sizing: border-box;
    margin: 0 auto;
}

html,
body {
    font-family: "Roboto Condensed";
    font-size: 14pt;
    height: 100%;
    width: 100%;
}

#container {
    min-height: 100%;
    width: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}





/* Header and Footer */

header {
    height: 3rem;
    width: 100%;
    font-family: "Permanent Marker";
    margin-bottom: 50px;
}

.navbar {
    list-style-type: none;
    display: inline-flex;
    left: 5px;
    position: relative;
}

footer {
    height: 100px;
    position: relative;
    margin-top: -100px;
    background-color: #d9d9d9;
    clear: both;
    color: #039;
    display: -webkit-flex;
    -webkit-flex-direction: row;
}





/* Text and Buttons */

.left {
    text-align: left;
    position: relative;
    left: 15%;
    width: 50%;
    margin: 50px 0;
    border-left: 1px solid black;
    padding-left: 1%;
}

.right {
    text-align: right;
    position: relative;
    left: 35%;
    width: 50%;
    margin: 50px 0;
    border-right: 1px solid black;
    padding-right: 1%;
}

.center {
    width: 70%;
    text-align: center;
}

.space {
    margin: 15px auto;
}

.button {
    padding: 1rem 15px;
}

.bigButton {
    font-family: "Permanent Marker";
    font-size: 18pt;
    text-align: center;
    color: #039;
    padding: 20px 7px;
}

.bigSpace {
    margin: 50px auto;
}

.bigTitle {
    font-family: "Permanent Marker";
    color: #039;
    margin-bottom: 15px;
}

.divTitle {
    padding-bottom: 1rem;
    font-family: "Permanent Marker";
    color: #039;
}
